# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# Secrets
config/tmdb.json

# Metadata Cache
data/metadata/

# OCR Debug
debug/
test.png

# Backup Files
*.bak
*.tmp
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# OS
Thumbs.db
