# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env

# OCR Debug
debug/

# SQLite databases
*.db

# Vim
*.swp

# macOS
.DS_Store

# Local secrets
config/tmdb.json

# Runtime files
*.log

data/metadata/

# Runtime OCR images
data/screenshots/
data/crops/
